.font-1 {
  font-family: "Harmattan", sans-serif;
  font-size: 20px;
}

.b-example-divider {
  height: 3rem;
  border-width: 1px 0;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

#footer {
  /*  height: 400px;
  background: linear-gradient(to top, #000000 0%, #00000057 100%) */
}

.footer-top > #p1,
.footer-top > #p2 {
  font-size: 100px;
  font-weight: 700;
  color: #6e6e6e;
  margin-bottom: -45px;
}

.footer-top > #p2 {
  font-size: 80px;
  color: #6e6e6e88;
}

.footer-padding {
  padding-bottom: 50px;
}

.footer {
  /* text-align: center; */
  bottom: 0;
  width: 100%;
  height: 330px;
  background-color: #000000;
  color: #fff;
}

.footer p {
  font-size: 22px;
  color: #fff;
}


#transitionBtn {
  width: 180px;
  height: 45px;
  margin: 0px auto 0 auto;
  text-align: center;
}

.card {
  border: none !important;
}

.header {
  height: 300px;
  color: white;
  background-color: #28328c;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width: 880px) {
  .flex-grid {
    flex: 100%;
    flex-direction: column;
  }

  .flex-grid .flex-col-1 {
    order: 1;
    width: 100%;
  }

  .flex-grid .flex-col-2 {
    order: 2;
    width: 100%;
  }
}

@supports (display: grid) {
  .card-slider .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "title title footer" "main main main";
  }
  @media screen and (max-width: 500px) {
    .card-slider .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas: "header" "title" "main" "footer";
    }
  }
  .card-slider .main {
    grid-area: main;
    padding: 0;
  }
  .card-slider .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }
  .card-slider .items::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .card-slider .items::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  .card-slider .items::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .card-slider .items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
  .card-slider .item img {
    object-fit: cover;
    width: 80%;
    margin: 20px 20px;
  }
  .card-slider .item {
    display: inline-block;
    border-radius: 10%;
    min-height: 70px;
    min-width: 0%;
    margin: 2em 1em;
  }
  @media (max-width: 500px) {
    .card-slider .item {
      min-height: 100px;
      width: 100px;
      margin-right: 0px;
      margin-bottom: 100px;
    }
    .card-slider .item img {
      position: relative;
      top: -25px;
      width: 60%;
      margin-bottom: -100px;
    }
  }
}

header {
  height: 70px !important;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#bottomNav {
  position: relative;
  top: -10px;
  height: 70px;
  margin-bottom: -20px;
}

#loginGif {
  width: 100%;
  height: 100%;
}

#loginAlert {
  display: none;
}

#alertInfo {
  width: 25%;
  position: absolute;
  right: 40px;
  display: none;
}

.loginBtns {
  width: 25%;
  margin-right: 20px;
}

#login-modal-footer {
  height: 100px;
}

.mapsContainer {
  height: 100%;
}

#map {
  height: 40rem;
}

#profilePic {
  width: 80%;
  height: 80%;
  
}

#locIcon {
  margin: 15px 20px 0px 0px;
  width: 3%;
  height: 3%;
  opacity: 0.3;
}

.text-muted {
  margin-top: 20px;
  font-weight: bold;
}

.info {
  margin: 10px 0px 20px 40px;
  font-weight: 500;
}

.info b {
  font-size: large;
  margin-right: 20px;
}

.aboutTab {
  border-bottom: 6px solid #fa0101;
  border-radius: 7px;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  width: 140px;
}

#abouthr {
  margin-top: -6px;
  height: 3px;
}

.editTab {
  float: right;
  position: relative;
  top: -70px;
  width: 130px;
  padding: 10px 10px 9px 10px;

}

.editIcon,
.offcanvas img {
  width: 20%;
  height: 10%;
}

.editTab:hover {
  text-decoration: none;
  border-bottom: 6px solid #fa0101;
  border-radius: 7px;
}

.image--cover {
  width: 200px;
  height: 250px;
  position: relative;
  left: 100px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  object-position: center right;
}

#checkDoctorDiv {
  display: none;
}

#toogle {
  margin-top: 50px;
}


.table {
  width: 80%;
  margin: 0 auto !important;
}

.profileInfo {
  position: relative;
  left: 80px;
  margin-bottom: 20px;
}


.profileInfo img {
  width: 50%;
}


#imgBanner {
  position: relative;
  top: -49px;
  left: -300px;
  width: 200%;
  height: 96%;
  margin-right: -190px;
}




table {
  width: 100%;
  margin-bottom: 50px;
  border: solid #f2f2f2 10px;
  background-color: #f2f2f2;
  border-collapse: separate;
  border-spacing: 15px;
  border-radius: 30px;
  -moz-border-radius: 6px;
}

table th {
  font-family: 'Ubuntu-Bold', sans-serif;
  font-size: 25px;
  color: rgb(80, 80, 80);
  background-color: #f2f2f2;

  width: 50%;
}

table #icons {
  width: 50px;
  height: 100%;
  margin: -220px 20px -220px 0px;
  
}

table tr {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(71, 71, 71);
  background-color: white;
}

table .feature {
  font-family: 'Ubuntu-Bold', sans-serif;
  color: orangered;
}


table td:first-child {
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 16px 0 0 16px;
}

table td:last-child {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 16px 16px 0;
}